* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: #eaf0e6;
}

main h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #7F9F80;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #7F9F80; /* Adjust background color as needed */
  border-bottom: 1px solid #ccc; /* Optional: Add a bottom border */
}

header h1 {
  margin: 0; /* Remove default margin */
  font-size: 34px; /* Adjust font size as needed */
  color: #fff;
}

header nav {
  display: flex;
}

header nav ul {
  display: flex;
  justify-content: space-between;

  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-left: 40px; /* Space between menu items */
}

header nav ul li a {
  text-decoration: none;
  color: #fff; /* Adjust color as needed */
  font-size: 18px; /* Adjust font size as needed */
  font-weight: 600;
}

header nav ul li a:hover {
  text-decoration: underline; /* Optional: Add underline on hover */
}

.banner {
  width: 100%;
  height: auto;
}

main {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  color: #7F9F80;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  background-color: white;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 16px;
  max-width: 800px; /* Adjust as needed */
  margin: auto; /* Center the container */
}

#welcome-section img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 34px;
}

@media (min-width: 768px) { /* Adjust the min-width value as needed */
  #welcome-section {
    flex-direction: row; /* Change flex direction to row */
    text-align: left; /* Align text to the left */
  }

  #welcome-section img {
    margin-top: 0; /* Remove top margin */
    margin-left: 20px; /* Add left margin */
    max-width: 50%; /* Adjust width if needed */
  }

  #welcome-section main {
    max-width: 50%; /* Adjust width if needed */
  }
}

.search-btn {
  padding: 10px 20px;
  border: none;
  background-color: #abc0ac; /* Adjust the color as needed */
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.search-btn:hover {
  background-color: #abc0ac; /* Adjust the color as needed */
}


.recipe-instructions{
  list-style-position: inside;
  text-align: left;
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 24px;
}



h1 {
  font-size: 2.5em;
  margin: 20px 0;
}

.divider {
  width: 100%;
  height: 4px;
  background-color: #7F9F80;
  margin: 20px 0;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #7F9F80;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #abc0ac;
}

.search-btn{
  padding: 10px 20px;
  border: none;
  margin: 20px;
  border-radius: 32px;
  background-color: #7F9F80;
  color: white;
  cursor: pointer;
  width: 200px;
  height: 70px;
  font-size: x-large;

}

#recipe-form {
  width: 100%;
  /* border: 1px solid #ccc; */
  border-radius: 32px;
  overflow: hidden;
  display: flex;
  height: 200px;
}

#ingredients {
  flex-grow: 1;
  border: none;
  /* padding: 10px 20px; */
  outline: none;
  width: 500px;
  height: 30px;
}

#recipe-form button {
  border: none;
  background-color: #7F9F80;
  /* color: white; */
  cursor: pointer;
  padding: 10px 20px;
  height: 50px;
}

.fa-search{
  font-size: 20px;

}


#recipe-results {
  margin-top: 20px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipe {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 25px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 calc(33.333% - 20px); /* 3 columns layout */
  box-sizing: border-box;
  max-width: 400px;
}

.recipe img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

.recipe h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
}

#single-recipe {
  margin-top: 20px;
  width: 80%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 570px;
}

#single-recipe img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

footer {
  background-color: #7F9F80;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

span {
  color: #2C7865;
}

.ingredients-list {
  /* color: red; */
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 24px;
  margin-bottom: 20px;
  /* margin: auto; */
}
.ingredients-list li {
  /* color: blue; */
  /* flex: 1 0 21%; */
  margin: 10px;
  /* box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2); */
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  /* width: 400px; */
  /* max-height: 604px; */
  /* padding: 20px; */
}

.recipe-view{
  width: 600px;
  border: #2C7865;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #dfece0;
  box-shadow: #2C7865;
}

.recipe-view h1, h2, img{
  margin-bottom: 20px;
  border-radius: 20px;

}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.recipe-container article {
  /* flex: 1 0 21%; */
  margin: 30px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 400px;
  max-height: 604px;
}

article h3 {
  font-size: 1.5em;
  margin: 10px 0;
}

article p {
  font-size: 1.2em;
  margin: 20px 20px;
}

/* Responsive Design */

@media (max-width: 1200px) {
  .recipe {
    flex: 1 1 calc(50% - 20px); /* 2 columns layout */
  }
}

@media (max-width: 768px) {
  .recipe {
    flex: 1 1 calc(100% - 20px); /* 1 column layout */
  }
  .recipe-container article {
    display: block;
    width: 100%;
    margin: 10px 0;
  }
}

