<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>CookMeThis</title>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body>
    <header>
        {{-- <img src="/resources/views/pages/banner.jpg" alt="CookMeThis Banner" class="banner"> --}}
        <h1>CookMeThis</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li class="bar" style="color:white">|</li>
                <li><a href="/search">Recipes</a></li>
                <li class="bar" style="color:white">|</li>
                <li><a href="/popular">Popular</a></li>
                <li class="bar" style="color:white">|</li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1><i class="fa fa-cutlery" aria-hidden="true"></i> Unleash Your Inner Chef: <br> Discover Delicious Dishes
            Based on
            What You Have</h1>
        <p><b>Tired of staring at a pantry full of possibilities?</b>
            This recipe finder is your culinary compass! Simply enter the ingredients you have on hand, <br> and we'll
            unlock
            a world of mouthwatering meals waiting to be created. No more scrambling through cookbooks or wasting
            precious groceries. Let's turn your kitchen into a haven of creativity and deliciousness!</p>
        <div class="divider"></div>
        <form id="recipe-form">
            <div>
                <input type="text" id="ingredients" placeholder="Enter ingredients (comma separated)">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
        <div id="message">
            <h2 style="text-align:center;">Try to enter some ingredients.</h2>
        </div>
        <section id="recipe-results">
            <!-- Recipes will be displayed here -->
        </section>
    </main>
    {{--
    <script src="script.js"></script> --}}
    <footer>
        <p>&copy; 2024 CookMeThis</p>
    </footer>
</body>

</html>