<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{recipe.title}}</title>
    @vite(['resources/css/app.css'])
</head>

<body>
    <header>
        <h1>{{recipe.title}}</h1>
    </header>
    <main>
        <img src="{{recipe.image}}" alt="{{recipe.title}}">
        {{-- <p>{{recipe.likes}} <i class="fas fa-heart"></i></p> --}}
        <h2>Ingredients</h2>
        <ul>
            @each(ingredient in recipe.extendedIngredients)
            <li>{{ingredient.name}}</li>
            @endeach
        </ul>
        <h2>Instructions</h2>
        <p>{{{recipe.instructions}}}</p>
        <button onclick="window.history.back()">Back to Results</button>
    </main>
</body>

</html>