<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{recipe.title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @vite(['resources/css/app.css'])
</head>

<body>
    <header>
        {{-- <img src="/resources/views/pages/banner.jpg" alt="CookMeThis Banner" class="banner"> --}}
        <h1>CookMeThis</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li class="bar" style="color:white">|</li>
                <li><a href="/search">Recipes</a></li>
                <li class="bar" style="color:white">|</li>
                <li><a href="/popular">Popular</a></li>
                <li class="bar" style="color:white">|</li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="recipe-view">
            <h1>{{recipe.title}}</h1>
            <img src="{{recipe.image}}" alt="{{recipe.title}}">
            <p>Ready In {{recipe.readyInMinutes}} minutes</p>
            <p>Seving {{recipe.servings}} People</p>
            {{-- <p>{{recipe.likes}} <i class="fas fa-heart"></i></p> --}}
            <h2>Ingredients</h2>
            <ul class="ingredients-list">
                @each(ingredient in recipe.extendedIngredients)
                <li><i class="fa fa-leaf"></i><br> {{ingredient.amount}} {{ingredient.unit}} {{ingredient.name}}</li>
                {{--<li><i class="fa fa-leaf"></i><br> {{ingredient.name}}</li>--}}
                @endeach
            </ul>
            <h2>Instructions</h2>
            <div class="recipe-instructions">

                <p style="text-align:left">{{{recipe.instructions}}}</p>
            </div>
            <button class="back" onclick="window.history.back()">Back to Results</button>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 CookMeThis</p>
    </footer>
</body>

</html>