<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Page title -->
    <title>CookMeThis</title>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body class="bg-gray-100 text-gray-900">
    <!-- Header -->
    <header class="flex justify-between items-center p-5 bg-white shadow-md">
        <h1 class="text-3xl text-green-700 font-bold ">CookMeThis</h1>
        <!-- Desktop navigation -->
        <nav id="desktop-nav">
            <div>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/search">Recipes</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </div>
        </nav>

        <!-- Mobile navigation -->
        <nav id="hamburger-nav">
            <div class="hamburger-menu">

                <div class="hamburger-icon" onclick="toggleMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menu-links">
                    <li><a href="/" onclick="toggleMenu()">Home</a></li>
                    <li><a href="/search" onclick="toggleMenu()">Recipes</a></li>
                    <li><a href="/blog" onclick="toggleMenu()">Blog</a></li>
                </div>
            </div>
        </nav>
    </header>
    <!-- Main content for recipe search -->
    <main class="max-w-6xl mx-auto bg-white rounded-lg shadow-lg m-24 p-8">
        <h1 class="text-4xl font-semibold mb-4"><i class="fa fa-cutlery" aria-hidden="true"></i> Unleash Your Inner
            Chef: <br> Discover Delicious Dishes Based on What You Have</h1>
        <p class="text-lg mb-6"><b>Tired of staring at a pantry full of possibilities?</b> This recipe finder is your
            culinary compass! Simply enter the ingredients you have on hand, <br> and we'll unlock a world of
            mouthwatering meals waiting to be created. No more scrambling through cookbooks or wasting precious
            groceries. Let's turn your kitchen into a haven of creativity and deliciousness!</p>
        <div class="border-b-2 border-gray-300 my-6"></div>
        <!-- Form for entering ingredients and searching for recipes -->
        <form id="recipe-form" class="flex items-center space-x-4">
            <input type="text" id="ingredients" placeholder="Enter ingredients"
                class="flex-1 p-2 border border-gray-300 rounded-lg">
            <button type="submit" class="bg-black text-white p-1 rounded-lg hover:bg-teal-700"><i
                    class="fa fa-search py-2 px-2"></i></button>
        </form>
        <div id="message" class="text-center my-10">
            <h2 class="text-2xl">Try to enter some ingredients.</h2>
        </div>
        <!-- Recipe results -->
        <section id="recipe-results"
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2 mt-10 justify-items-center">
        </section>
    </main>
    <!-- Footer -->
    <footer class="fixed inset-x-0 bottom-0 bg-white text-center py-5 border-t border-gray-300">
        <p>&copy; 2024 CookMeThis</p>
    </footer>
</body>
<!-- JavaScript for toggling the mobile menu -->
<script>  function toggleMenu() {
        const menu = document.querySelector(".menu-links");
        const icon = document.querySelector(".hamburger-icon");
        menu.classList.toggle("open");
        icon.classList.toggle("open");
    }</script>

</html>